sklearn
streamlit==1.16.0
streamlit-option-menu==0.3.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
pandas==1.2.4
scikit-learn==1.2.0
matplotlib==3.5.0
matplotlib-inline==0.1.2
plotly==5.11.0
seaborn==0.11.2
wordcloud==1.8.2.2
numpy==1.24.1
textblob==0.15.3
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
spacytextblob==4.0.0
gensim==4.3.0
pyLDAvis==3.3.1